// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-transparent
{
    background-color: transparent !important;
}

.navbar-dark.bg-translucent-blue
{
    background-color: linear-gradient($blue, rgba(63, 81, 181, 0.1)) !important;
}
.navbar-dark.bg-translucent-blue:hover,
.navbar-dark.bg-translucent-blue:focus,
.navbar-dark.bg-translucent-blue.active
{
    background-color: $blue !important;
    transition: background-color 0.5s ease;
}

.h-16
{
    height: 16rem;
}
.h-32
{
    height: 32rem;
}
.h-48
{
    height: 48rem;
}
.h-56
{
    height: 56rem;
}
.h-64
{
    height: 64rem;
}

.carousel-image,
.billboard-image
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    width: 100vw;
    display: block !important;
}



.carousel-control-next, .carousel-control-prev
{
    width: 20%;
}

.carousel-caption,
.billboard-caption
{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    left: 20%;
    min-height: 16rem;
    width: 60%;
    right: 20%;
}
.section
{
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.section .section-title,
.section .article-title
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize !important;
}
.section .section-title
{
    text-align: center!important;
}

.nav-link.active::after
{
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}
.nav-link::after
{
    display: block;
    margin: auto;
    content: '';
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}
a#goTopBtn
{
    display:none;
}
a#goTopBtn.show
{
    position: fixed;
    bottom: 5%;
    right: 5%;
    text-transform: capitalize!important;
    z-index: 1030;
    color: #fff;
    background-color: $blue;
    border-color: rgba(63,81,181,.9);
    text-decoration: none;

    display: block;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
